<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021147211131-065qt91ch54642s5lhb9qhh0nfqm3akt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021147211131-065qt91ch54642s5lhb9qhh0nfqm3akt</string>
	<key>API_KEY</key>
	<string>AIzaSyCBTU7G1EkDmu6Y7uJHpMdsuRa-DiI30RE</string>
	<key>GCM_SENDER_ID</key>
	<string>1021147211131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saveup.app</string>
	<key>PROJECT_ID</key>
	<string>save-up-ee33e</string>
	<key>STORAGE_BUCKET</key>
	<string>save-up-ee33e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021147211131:ios:5735c3b9706a5b65b1c9de</string>
	<key>DATABASE_URL</key>
	<string>https://save-up-ee33e.firebaseio.com</string>
</dict>
</plist>